@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2 {
    font-family: "Yeseva One";
    font-weight: normal;
}

.message p {
    font-family: "Poppins";
    color: #332838;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #332838;
}

.banner h1, a {
    margin: 5px 20px;
    font-size: 25px;
}

h1, a {
    color: #E87774;
}

a {
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
}

.banner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    max-width: 2560px;
    margin: auto;
    position: relative;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
}

.big_image {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* max-width: 2560px; */
}

.big_image h2 {
    background-color: rgba(232, 119, 116, 0.5);
    padding: 5px 20px;
    font-size: 72px;
    color: white;
    text-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    position: relative;
    justify-content: flex-start;
    max-width: 2560px;
    margin: 30px;
    /* margin-right: auto; */
    /* width: 100%; */
}

.left_container {
    position: relative;
    flex: 0 0 auto;
    width: 70%;
}

.left_container h1 {
    margin-left: 30px;
}

.left_container h2 {
    font-size: 28px;
    margin: 10px;
    color: #332838;
}

.left_container p {
    max-width: 300px;
    text-align: center;
    font-size: 16px;
    color: #332838;
}

.left_container img {
    width: 300px;
    height: 255px;
    object-fit: cover;
}

.wrap_row {
    display: flex;
    flex-wrap: wrap;
}


/* .second_row > div {
    margin: 20px;
} */
.wrap_row > div {
    margin: 20px;
}

.flex_object {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 16px;
}


.right_container {
    position: relative;
    flex: 0 0 auto;
    width: 30%;
}
.right_container h1 {
    margin-left: 30px;
}

.first_row {
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 30px 40px;
}

.second_row {
    font-style: normal;
    font-size: 13px;
    font-weight: 700;
    margin: 5px 30px;
}

.third_row {
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    margin: 5px 30px;
    text-wrap: balance;
}

.forth_row {
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    margin: 20px 30px;
}

.message {
    display: flex;
    flex-direction: column;
    background-color: #EAE9F6;
    margin: 20px;
    height: fit-content;
    width: 100%;
    /* max-width: 400px; */
    margin-right: 300px;
    justify-content: flex-start;
}

.ending {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2560px;
}
.ending p {
    display: flex;
    justify-content: center;
    color: #594e5f;
}


@media (max-width: 780px) {
    .banner {
        background-color: #E87774;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
    }

    .banner h1, a {
        margin: 5px 20px;
        font-size: 40px;
        color: white;
    }

    .banner h1 {
        display: flex;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 50px;
        align-items: center;
    }

    .big_image {
        height: 400px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big_image h2 {
        padding: 15px 50px;
        font-size: 40px;
    }

    .content {
        max-width: 600px;
        margin: auto;
        flex-direction: column;
        
    }

    .left_container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .wrap_row {
        flex-direction: column;
    }

    .right_container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content h1 {
        display: flex;
        justify-content: center;
    }

    .message {
        display: flex;
        flex-direction: column;
        background-color: #EAE9F6;
        margin: 20px;
        height: 30%;
        width: 100%;
        justify-content: center;
        max-width: 100%;
    }
}